*.class

# Package Files #
*.war
*.ear
.idea

# project settings
*.project
*.classpath
.settings/
target
.externalToolBuilders
*.iml

# rebel
rebel.xml

#folder
target/
#fixed file
.exe
*/*.log
*/*.*.log
.prefs
.project
.classpath
.metadata
.settings
.DS_Store
Thumbs.db
.project
*.iml
*.ipr
*.iws
*.tar.gz
.idea
